ya_alice_cmd_flow.txt
[{"id":"68cabeae.79382","type":"exec","z":"93fe2c1e.e6f9d8","command":"/___ПУТЬ_ДО_СКРИПТА__/y_alice_cmd.php tts ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Алиса TTS","x":430,"y":760,"wires":[[],[],[]]},{"id":"7cbc8dcc.eb703c","type":"inject","z":"93fe2c1e.e6f9d8","name":"","topic":"","payload":"\"Тест flow\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":760,"wires":[["68cabeae.79382"]]},{"id":"847df53b.9b8cb8","type":"exec","z":"93fe2c1e.e6f9d8","command":"/___ПУТЬ_ДО_СКРИПТА__/y_alice_cmd.php cmd ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Алиса команда","x":460,"y":900,"wires":[[],[],[]]},{"id":"919c1e3.d94276","type":"inject","z":"93fe2c1e.e6f9d8","name":"Включи джаз","topic":"","payload":"\"включи джаз\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":840,"wires":[["847df53b.9b8cb8"]]},{"id":"bdc25956.9411","type":"inject","z":"93fe2c1e.e6f9d8","name":"Стоп","topic":"","payload":"\"стоп\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":900,"wires":[["847df53b.9b8cb8"]]},{"id":"f5795361.0097","type":"inject","z":"93fe2c1e.e6f9d8","name":"Следующий трек","topic":"","payload":"\"Следующий трек\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":960,"wires":[["847df53b.9b8cb8"]]}]